.chart {
	canvas {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

.chart__nopaddingbottom {
	canvas {
		padding-bottom: 0;
	}
}

.chart--subtext {
	font-size: 1.2rem;
	padding: 0 3rem;
}

.chart--halfwidth {
	width: 50%;
	height: auto;
	float: left;
}

.chart--twothirds {
	width: 67%;
	height: auto;
}
