//blue
$themecolor: #04659e;

//green
$themecolor-1: #a1c50f;
$themecolor-1--light: #a7cb8d;
$themecolor-1--dark: #1e6d37;

//yellow
$themecolor-2: #f6d511;


$themecolor-3: #5BBAB4;

$green: #0ead0e;
$red: #dc2f1a;

.themecolor-1 { 
	color: $themecolor-1 !important;
}

.themecolor-2 { 
	color: $themecolor-2 !important;
}

.themecolor-3 { 
	color: $themecolor-3 !important;
}

$bordergrey: 1px solid #DEDEDE;

.error, .warning, .deny {
	color: $red;
}

.succes, .accept {
	color: $green;
}
