.row--marginone {
	margin-top: 3rem;
}

.margin--vertical {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	display: block;
	margin: 0 auto;
}

.hundred {
	height: 100% !important;
}

.eighty {
	height: 80% !important;
	margin-top: 1rem;
}

.eighty_wide {
	width: 80%;
	height: auto;
}

.seventy_wide {
	width: 70%;
	height: auto;
}

.sixty_wide {
	width: 60%;
	height: auto;
}

.fourty_wide {
	width: 40%;
	height: auto;
}

.thirty_wide {
	width: 30%;
	height: auto;
	display: inline-block;
	float: right;
}

.flex-center {
	align-self: center;
}