.left {
	float: left;
}

.right {
	float: right;
}

.center {
	display: block;
	margin: 0 auto;
}

.hundred {
	height: 100% !important;
}
.eighty {
	height: 80% !important;
	margin-top: 1rem;
}

.flex-center {
	align-self: center;
}