html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

#app {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-flow: column nowrap;

    header {
        position: relative;
        padding-top: 2rem;
        .banner {
            position: relative;
            height: 100px;
            img {
                height: 100%;
            }
        }
        nav {
            border-top: 2px solid $green;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
        
    }

    .content {
        flex: 1;
        .page-highlight {
            background: rgba($green, .3);
            padding-top: 1rem;
            padding-bottom: 1rem;
            // background: $green;
        }
        .generator {
            margin-top: 2rem;
            img {
                height: 3.5rem;
            }
        }
    }

    footer {

    }
}
