html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: $font-family-sans-serif;
    // font-family: 'Varela Round', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

#app {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-flow: column nowrap;

    header {
        position: relative;
        padding-top: 2rem;
        .banner {
            position: relative;
            margin-bottom: 1rem;
            .banner--container {
                height: 100px; 
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
            }
            img {
                height: 100%;
            }
        }
        nav {
            border-top: 2px solid $green;
            margin-bottom: 2rem;
        }
        
    }

    .content {
        flex: 1;
        .page-highlight {
            background: rgba($green, .3);
            padding-top: 1rem;
            padding-bottom: 1rem;
            // background: $green;
        }
        .generator {
            margin-top: 2rem;    
        }
    }

    footer {

    }
}
