h1 {
    font-family: 'Varela Round', sans-serif;
    color: $themecolor-1;
}

h1.categorytitle {
	font-size: 6rem;
	border-bottom: 5px solid;
	background: #a1c50f1f;
	/* color: white; */
	padding: 2rem;
}

p {
	font-weight: 400;
}

ul {
	list-style-position:outside;
}

ul.list--longli{
	li {
		margin-bottom: 1rem;
	}
}